.text_1 {
    color: green;
}
.text_2 {
    color: red;
}
.text_3 {
   font-size: 30px; 
}
.text_4 {
    color: blue;
}
.text_5 {
    color: red;
    text-decoration: underline;
}
.text_6 {
text-decoration: underline;
text-decoration: overline;
}